---
interface Props { items: string[] }
const { items } = Astro.props as Props;
const twice = [...items, ...items];
---
<div class="marquee">
  <div class="track">
    {twice.map((t) => (<div class="logo">{t}</div>))}
  </div>
</div>

